
;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

;; Global WM Settings

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 2

##########################################################################################################################################

;; File Inclusion
; include an external file, like module file, etc.

include-file = ~/.config/leftwm/themes/current/polybar/modules.ini

##########################################################################################################################################

[color]
;background = ${xrdb:color0:#222}
background = #302e2d
;background-alt = #665c54
foreground = ${xrdb:color7:#222}
;foreground = #d4be98
;foreground-alt = #282e3a
primary = #ffb52a
secondary = #e60053
alert = #B48EAD
modulefg = #f7f7f7
modulefg-alt = #f7f7f7

; Active Shade
cyan = #7daea3
gray = #a89984
aqua = #89b482
red = #ea6962
yellow = #d8a657
green = #a9b665
orange = #fe8019
magenta = #d3869b
white = #d4be98
pink = #d3869b
blue = #7daea3


;trans = #ccfaaaaa
;white = #FFFFFF
black = #000000
;tray-background = ${xrdb:color7:#222}
;#404552



##########################################################################################################################################

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

##########################################################################################################################################

[bar/barbase]
width = 98%
height = 24
offset-x = 16
offset-y = 10
monitor = ${env:monitor}
fixed-center = true
bottom = true
line-size = 3
radius-top = 8
radius-bottom = 8
background = ${color.background}
foreground = ${color.foreground}
padding = 1
module-margin-left = 1
enable-ipc = true

font-0 = "Iosevka Nerd Font:size=8;2"
font-1 = "Roboto:size=11:weight=bold;2"
font-2 = "Noto Sans:size=11;1"
font-3 = "FontAwesome:size=10"
font-4 = "Feather:size=9;2"
font-5 = JetBrainsMono Nerd Font:bold:size=10;3

#font-4 = "Noto Sans:size=14;0"

##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################
;choices : see modules.ini
; highlighted to see where to add the modules
modules-right = date SP pulseaudio-control
modules-center = spotify spotify-prev spotify-play-pause spotify-next
##########################################################################################################################################

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspaces SP changebackground wall
tray-detached = false
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 2
tray-maxsize = 20
tray-scale = 1.0
tray-position = none
tray-background = ${color.background}

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################


[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3

[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################
