;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

;; Global WM Settings

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 2

##########################################################################################################################################

;; File Inclusion
; include an external file, like module file, etc.

include-file = ~/.config/leftwm/themes/current/polybar/modules.ini

##########################################################################################################################################

[color]
;; Main colors
background = #332E41
foreground = #B7E5E6
;;foreground-alt = #9C9C9C
primary = #C6AAE8
secondary = #DFDEF1
alternate = #FFE70D

trans = #00000000
white = #FFFFFF
black = #000000

;; Material Colors
red = #BF616A
pink = #c394b4
purple = #8e24aa
deep-purple = #5e35b1
indigo = #3949ab
blue = #81a1c1
light-blue = #039be5
cyan = #88C0D0
teal = #00897b
green = #43a047
light-green = #7cb342
lime = #B9C244
yellow = #EBCB8B
amber = #FBC02D
orange = #fb8c00
deep-orange = #f4511e
brown = #6d4c41
grey = #757575
blue-gray = #546e7a

;trans = #ccfaaaaa
;white = #FFFFFF
;black = #000000
;tray-background = ${xrdb:color7:#222}
;#404552

[hacks]
;Allow padding of modules while keeping the formatted background colour we've set
module-margin = " "

##########################################################################################################################################

[settings]
throttle-output = 5
throttle-output-for = 10
screenchange-reload = false
compositing-background = XOR
;compositing-foreground = over
;compositing-overline = over
;compositing-underline = over
;compositing-border = over
;format-foreground = 
;format-background = 
;format-underline =
;format-overline =
;format-spacing =
;format-padding =
;format-margin =
;format-offset =
;pseudo-transparency = false


##########################################################################################################################################

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 10
offset-y = 6
height = 22
fixed-center = true
bottom = true
radius-top = 5
radius-bottom = 5
padding-left = 1
padding-right = 2
module-margin-left = 0
module-margin-right = 0
border-bottom = 0
cursor-click = pointer
cursor-scroll = ns-resize
tray-position = none


background = ${color.trans}
foreground = ${color.foreground}


font-0 = "Iosevka Nerd Font:size=8;2"
font-1 = "Roboto:size=11:weight=bold;2"
font-2 = "Noto Sans:size=11;1"
font-3 = "FontAwesome:size=10"
font-4 = "Feather:size=9;2"
font-5 = "NotoSansMono Nerd Font:style=Regular:size=12;2"
font-6 = "NotoSansMono Nerd Font:style=Regular:size=24;6"
font-7 = "NotoMono Nerd Font Mono:style=Book:size=12"
#font-4 = "Noto Sans:size=14;0"


##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################
;choices : see modules.ini
; highlighted to see where to add the modules
modules-right = date spacer pulseaudio-control spacer powermenu
modules-center = changebackground cpu wall

##########################################################################################################################################

[bar/mainbar0]
inherit = bar/barbase
modules-left = rofi  


[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################
##########################################################################################################################################


[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3

[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

##########################################################################################################################################

